
.input-with-image {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Adjust the max-width as needed */
}

.animated-textarea {
  width: 100%;
  padding: 12px 40px 12px 12px; /* Increase padding on the right for icon space */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.ai-search-btn-new {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.ai-search-btn-new .fa-search {
  font-size: 1.2em;
  color: #666;
}

.suggestions-list {
  position: absolute;
  width: 27%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
}

.suggestions-list li {
  padding: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}


@media (max-width: 768px) {
 .suggestions-list {
  position: absolute;
  width: 85%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
}

 
  
}
